*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}
:root{
     --colorDark1: #141D2F;
     --colorDark2:#1E2A47;
     --colorLight1:white;
     --colorLight2:rgba(70,88,109,0.15);

}

.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    /* background-color: var(--colorDark1); */
    background-color: var(--colorDark1);
    height: 100vh;
    width: 100vw;
}

.heading{
    all: unset;
    display: flex;
    justify-content: space-between;
    gap:3em;
    width:700px;
}

.heading div{
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
}

.inp-con{
    all: unset;
    background-color: #1E2A47;
   display: flex;
   gap: 2rem ;
   justify-content: space-between;
   align-items: center;
   margin: 0 auto;
   box-sizing: border-box;
   padding: 5px;
   width: 700px;
   padding-left: 20px;
   border-radius: 8px;
  
}
.inp-img-div{
   
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.inp-img-div input{
    all: unset;
    padding:4px;
    border: none;
    background-color:#1E2A47;
}

.inp-con button{
    all: unset;
    background-color:#0079ff;
    text-align: center;
    height: 2.5rem;
    width: 4rem;
    padding: 4px;
    border-radius: 8px;
}

.infocont{
    min-width: 700px;
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    gap: 50px;
    border-radius: 8px; 
    padding: 50px;
    background-color: #1E2A47;
    
}
.right-container{
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.profinfo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 50px;
    
}


.profpic{
    height: 120px;
    width: 120px;
    border-radius:100px;
}

.bio{
   margin: 25px 0px;
   color: var(--colorLight1);
}
.profDetails{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
    border-radius: 10px;
    background-color:var(--colorDark1);


}
.profileDetails{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
   
}

.count{
    font-size: 1.5rem;
}


.user-details-con{
    display: flex;
    flex-direction: column;
    margin: 25px 0px;
    gap: 25px;
  
}
.user-details{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.details{
    display: flex;
    justify-content: space-between;
    align-items: center;

    gap:5px;
}
.name p{
    font-size: 1.9rem;
    color: var(--colorLight1);
}
.name a{
    font-size: 1.2rem;
    color:blue ;
}
#joinDate{
    font-size: larger;
}

#inputsize{
    font-size:1.4rem;
}
    
   
    
   
    

  


